.action-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}

.client-layout {
    -fx-background-color: #1e1e2f;
}

#client-title {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
